include mixins/bannerCliente.pug

doctype html
html
  head
    meta(charset="UTF-8")
    title Cargar cruza
    link(rel="stylesheet", href="/style/login.css")
    script.
      function setMinDate() {
        var today = new Date();
        var year = today.getFullYear();
        var month = String(today.getMonth() + 1).padStart(2, '0');
        var day = String(today.getDate() - 5).padStart(2, '0');
        var todayDate = `${year}-${month}-${day}`;
        var fechaInput = document.getElementById('fechaDeCelo');
        fechaInput.setAttribute('min', todayDate);
      }
      function toggleCamposOtro() {
        var selectPerro = document.getElementById('id');
        var camposOtro = document.getElementById('camposOtro');
        var razaInput = document.getElementById('raza');
        var fechaDeCeloInput = document.getElementById('fechaDeCelo');
        
        if (selectPerro.value === "otro") {
          camposOtro.style.display = "block";
          razaInput.setAttribute('required', '');
          fechaDeNacimiento.setAttribute('required', '');
        } else {
          camposOtro.style.display = "none";
          razaInput.removeAttribute('required');
          fechaDeNacimiento.removeAttribute('required');
        }
      }
      function setMaxDate() {
        var today = new Date();
        var year = today.getFullYear();
        var month = String(today.getMonth() + 1).padStart(2, '0');
        var day = String(today.getDate()).padStart(2, '0');
        var todayDate = `${year}-${month}-${day}`;
        var fechaInput = document.getElementById('fechaDeNacimiento');
        fechaInput.setAttribute('max', todayDate);
      }

      window.addEventListener('load', function() {
        setMinDate();
        setMaxDate();
        toggleCamposOtro();

        var selectPerro = document.getElementById('id');
        selectPerro.addEventListener('change', toggleCamposOtro);
      });
  body
    +bannerCliente()
    form(action="/clientes/cargar-cruza", method="POST")
      ul
        li
          label(for="id") Perro:
          select(name="id", id="id", required)
            each perro in perros
              option(value=perro.id)= perro.nombre
            option(value="otro") Otro

        div(id="camposOtro" style="display: none;")
          li
            label(for="sexo") sexo
            select(id="sexo", name="sexo")
              option(value="macho") Macho
              option(value="hembra") Hembra
          li
            label(for="fechaDeNacimiento") Fecha de nacimiento:
            input(type="Date", id="fechaDeNacimiento", name="fechaDeNacimiento")
          li
            label(for="raza") Raza:
            select(name="raza", id="raza", required)
              option(value="Chihuahua") Chihuahua
              option(value="Caniche") Caniche
              option(value="Boxer") Boxer
              option(value="Pastor alemán") Pastor alemán
              option(value="Dogo argentino") Dogo argentino
        // TODO raza desplegable  
        li
          label(for="fechaDeCelo") Fecha celo: 
          input(type="Date", id="fechaDeCelo", name="fechaDeCelo", required)
        li.button
          button(type="submit") Cargar
    if error
      li.error= error
