include mixins/bannerCliente.pug

doctype html
html
  head
    title Perros en cruza
    style.
      table {
        border-collapse: collapse;
        width: 30%;
      }
      th, td {
        padding: 2px;
        text-align: left;
      }
      td.buttons {
        display: flex;
        gap: 10px;
      }

+bannerCliente()  
if !perros.length
  h1 No tiene perros en cruza
else
  div
    h1 Lista de perros en cruza
    table
      tr
        th Raza:
        th Sexo:
        th Fecha de celo: 
        th Edad:
      each perro in perros
        tr
          td= perro.raza
          td= perro.sexo
          - let fechaDeCelo = `${perro.fechaDeCelo.getUTCDate()}/${perro.fechaDeCelo.getUTCMonth()+1}/${perro.fechaDeCelo.getUTCFullYear()}`
          td= fechaDeCelo 
          td= perro.edad
          td.buttons
            form(action="/clientes/modificar-cruza", method="GET")
              input(type="hidden", name="dato", value=perro._id)
              button(type="submit") Modificar
                form(action="/clientes/eliminar-cruza", method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta cruza?');")
              input(type="hidden", name="dato", value=perro._id)
              button(type="submit") Eliminar