include mixins/bannerAdmin.pug
doctype html
html
  head
    title Usuarios

    style.
      table {
        border-collapse: collapse;
        width: 30%;
      }
      th, td {
        padding: 12px;
        text-align: left;
      }
       td.buttons {
        display: flex;
        gap: 10px;
      }
  +bannerAdmin()
  body
    if(!usuarios)
      h1 No hay usuarios cargados todavia
    else
      div
        h1 Lista de usuarios
        table
          tr
            th DNI
            th Mail
            th Nombre
            th Apellido
            th Telefono 
          each usuario in usuarios
            tr
              td= usuario.dni
              td= usuario.mail
              td= usuario.nombre
              td= usuario.apellido
              td= usuario.telefono
              td.buttons
                form(action="/admin/modificar-usuario", method="GET")
                  input(type="hidden", name="dato", value=usuario.mail)
                  button(type="submit") Modificar usuario
                form(action="/admin/listar-perros", method="POST")
                  input(type="hidden", name="dato", value=usuario.mail)
                  button(type="submit") Listar perros
                form(action="/admin/eliminar-usuario", method="POST")
                  input(type="hidden", name="dato", value=usuario.mail)
                  button(type="submit") Eliminar usuario
                form(action="/admin/registrar-perro", method="POST")
                  input(type="hidden", name="mail", value=usuario.mail)
                  button(type="submit") Registrar perro
