doctype html
html
  head
    title Usuarios

    style.
      table {
        border-collapse: collapse;
        width: 30%;
      }
      th, td {
        padding: 12px;
        text-align: left;
      }
       td.buttons {
        display: flex;
        gap: 10px;
      }

  body
    div(ng-unless="usuarios.length === 0")
      h1 Lista de usuarios
      table
        tr
          th DNI
          th Mail
          th Nombre
          th Apellido
        each usuario in usuarios
          tr
            td= usuario.dni
            td= usuario.mail
            td= usuario.nombre
            td= usuario.apellido
            td.buttons
              form(action="/usuarios/modificar-datos", method="POST")
                input(type="hidden", name="dato", value=usuario.mail)
                button(type="submit") Modificar usuario
              form(action="/admin/listar-perros", method="POST")
                input(type="hidden", name="dato", value=usuario.mail)
                button(type="submit") Listar perros
              form(action="/admin/eliminar-usuario", method="POST")
                input(type="hidden", name="dato", value=usuario.mail)
                button(type="submit") Eliminar usuario
            