include mixins/bannerCliente.pug

doctype html
html
  head
    title Perros en adopcion 
    style.
      table {
        border-collapse: collapse;
        width: 30%;
      }
      th, td {
        padding: 2px;
        text-align: left;
      }
      td.buttons {
        display: flex;
        gap: 10px;
      }

+bannerCliente()  
if !perros.length
  h1 No tiene perros en adopcion
else
  div
    h1 Lista de perros en adopcion
    table
      tr
        th Nombre
        th Edad
        th Sexo
        th Color
        th Tama침o
        th Origen
      each perro in perros
        tr
          td= perro.nombre
          td= perro.edad
          td= perro.sexo
          td= perro.color 
          td= perro.tama침o 
          td= perro.origen
          td.buttons
            if (!(perro.confirmado))
              form(action="/clientes/modificar-adopcion", method="GET")
                input(type="hidden", name="dato", value=perro._id)
                button(type="submit") Modificar
              form(action="/clientes/confirmar-adopcion", method="POST" onsubmit="return confirm('쮼st치s seguro de que deseas confirmar esta adopci칩n?');")
                input(type="hidden", name="id", value=perro._id)
                button(type="submit") Confirmar adopcion            
            if perro.confirmado
              p Adoptado游냤仇벒잺
    button(onclick="window.history.go(-1)") Volver
