doctype html
html
  head
    title Perros

    style.
      table {
        border-collapse: collapse;
        width: 30%;
      }
      th, td {
        padding: 2px;
        text-align: left;
      }
      td.buttons {
        display: flex;
        gap: 10px;
      }

if !perros.length
  h1 No tiene perros cargados todavía.
else
  div
    h1 Lista de perros
    table
      tr
        th Nombre
        th Sexo
        th Fecha de nacimiento
        th Raza
        th Color 
        th Observaciones
      each perro in perros
        tr
          td= perro.nombre
          td= perro.sexo
          - let fecha = `${perro.fechaDeNacimiento.getUTCDate()}/${perro.fechaDeNacimiento.getUTCMonth()+1}/${perro.fechaDeNacimiento.getUTCFullYear()}`
          td= fecha
          td= perro.raza 
          td= perro.color 
          td= perro.observaciones
          if admin
            td.buttons
              form(action="/admin/modificar-perro", method="GET")
                input(type="hidden", name="id", value=perro._id)
                input(type="hidden", name="mailUsuario", value=mailUsuario)
                button(type="submit") Modificar perro
              form(action="/admin/eliminar-perro", method="POST")
                input(type="hidden", name="id", value=perro._id)
                input(type="hidden", name="mail", value=perro.mail)
                button(type="submit") Eliminar perro
                