include mixins/bannerAdmin.pug
doctype html
html
  head
    meta(charset="utf-8")
    title Modificar usuario
    link(rel="stylesheet", href="/style/login.css")
  +bannerAdmin()
  body
    form(action="/admin/modificar-usuario", method="post")
      ul
        li
          input(type="hidden", name="dato", value=userMail)
        li
          label(for="mail") Mail:
          input(type="email", id="mail", name="mail", value=usuario.mail, required)
        li
          label(for="nombre") Nombre:
          input(type="text", id="nombre", name="nombre", value=usuario.nombre, required)
        li
          label(for="apellido") Apellido:
          input(type="text", id="apellido", name="apellido", value=usuario.apellido, required)
        li
          label(for="dni") DNI:
          input(type="text", id="dni", name="dni", value=usuario.dni, required)
        li
          label(for="telefono") Telefono:
          input(type="text", id="telefono", name="telefono", value=usuario.telefono, required)
        li.button
          button(type="submit") Modificar
          button(type="button" onclick="window.history.go(-1)") Cancelar 
          // TODO ARREGLAR
      