include mixins/bannerAdmin.pug
doctype html
html
  head
    meta(charset="utf-8")
    title Modificar servicio
    link(rel="stylesheet", href="/style/login.css")
  +bannerAdmin()
  body
    form(action="/admin/modificar-servicio", method="post")
      ul
        li
          input(type="hidden", name="id", value=servicio._id)
        li
          label(for="nombre") Nombre:
          input(type="text", id="nombre", name="nombre", value=servicio.nombre, required)
        li
          label(for="apellido") Apellido:
          input(type="text", id="apellido", name="apellido", value=servicio.apellido, required)
        li
          label(for="tiposervicio") Tipo de servicio:
          select(name="tiposervicio", id="tiposervicio", required)
            option(value="paseador") Paseador
            option(value="cuidador") Cuidador
        li
          label(for="zona") Zona:
          input(type="text", id="zona", name="zona", value=servicio.zona, required)
        li 
          label(for="disponibilidadHoraria") Disponibilidad horaria:
          input(type="text", id="disponibilidadHoraria", name="disponibilidadHoraria", value=servicio.disponibilidadHoraria, required) 
        li 
          label(for="mail") Mail: 
          input(type="mail", id="mail", name="mail", value=servicio.mail, required)  
        li.button
          button(type="submit") Modificar
          button(type="button" onclick="window.history.go(-1)") Cancelar 
