doctype html
html
  head
    meta(charset="utf-8")
    title Modificar perro
    link(rel="stylesheet", href="/style/login.css")
  body
    form(action="/admin/modificar-perro", method="post")
      ul
        li
          input(type="hidden", name="id", value=perro._id)
        li
          label(for="nombre") Nombre:
          input(type="text", id="nombre", name="nombre", value=perro.nombre)
        li
          label(for="sexo") Sexo:
          input(type="text", id="sexo", name="sexo", value=perro.sexo)
        li
          label(for="fecha") Fecha de nacimiento:
          input(type="date", id="fecha", name="fecha", value=perro.fecha)
        li
          label(for="raza") Raza:
          input(type="text", id="raza", name="raza", value=perro.raza)
        li
          label(for="color") Color:
          input(type="text", id="color", name="color", value=perro.color)
        li
          label(for="observaciones") Observaciones:
          input(type="text", id="observaciones", name="observaciones", value=perro.observaciones)
        li
          label(for="foto") Foto:
          input(type="text", id="foto", name="foto", value=perro.foto)
        li.button
          button(type="submit") Modificar