include mixins/bannerCliente.pug
doctype html
html
  head
    title Perro recomendado

    style.
      table {
        border-collapse: collapse;
        width: 30%;
      }
      th, td {
        padding: 2px;
        text-align: left;
      }
      td.buttons {
        display: flex;
        gap: 10px;
      }
    script.
      function mostrarPopUp() {
        alert("El sistema no dispone de un perro que cumpla los requisitos para ser recomendado.");
        window.location.href = "/clientes/listar-cruza";
      }
  +bannerCliente() 
  if (!perroRecomendado) 
    script.
      window.onload = function() {
        mostrarPopUp();
      }
  else 
    div
      h1 Perro recomendado
      table
        tr
          th Raza
          th Sexo
          th Fecha de nacimiento
          th Fecha de celo
          tr
            td= perroRecomendado.raza
            td= perroRecomendado.sexo
            - let fechaNac = `${perroRecomendado.fechaDeNacimiento.getUTCDate()}/${perroRecomendado.fechaDeNacimiento.getUTCMonth()+1}/${perroRecomendado.fechaDeNacimiento.getUTCFullYear()}`
            td= fechaNac
            if(perroRecomendado.fechaDeCelo)
              - let fechaCelo = `${perroRecomendado.fechaDeCelo.getUTCDate()}/${perroRecomendado.fechaDeCelo.getUTCMonth()+1}/${perroRecomendado.fechaDeCelo.getUTCFullYear()}`
              td= fechaCelo
            else
              td -
            td.buttons
              form(action="/usuarios/cruza/solicitar", method="POST") 
                input(type="hidden", name="mailPostulante", value=perroRecomendado.mail)
                button(type="submit") Cruzar
        button(onclick="window.history.go(-1)") Cancelar
            //Arreglar esto de aca arriba, mandando datos necesarios!!!!!!