include mixins/bannerAdmin.pug
doctype html
html
  head
    meta(charset="UTF-8")
    title Registrar perro
    link(rel="stylesheet", href="/style/registro.css")
  +bannerAdmin()
  body
    form(action="/admin/registrar-perro", method="post")
      ul
        li
          label(for="nombre") *Nombre
          input(type="text", id="nombre", name="nombre" ,required)
        li
          label(for="sexo") *sexo
          select(id="sexo", name="sexo", required)
            option(value="macho") Macho
            option(value="hembra") Hembra
        li
          label(for="fechaDeNacimiento") *fechaDeNacimiento
          input(type="Date", id="fechaDeNacimiento", name="fechaDeNacimiento" ,required)
        li
          label(for="raza") *Raza
          select(name="raza", id="raza", required)
              option(value="Chihuahua") Chihuahua
              option(value="Caniche") Caniche
              option(value="Boxer") Boxer
              option(value="Pastor alemán") Pastor alemán
              option(value="Dogo argentino") Dogo argentino
        li
          label(for="color") *color
          input(type="text", id="color", name="color",required)
        li
          label(for="observaciones") observaciones
          input(type="text", id="observaciones", name="observaciones")
        li
          label(for="foto") foto
          input(type="String", id="foto", name="foto")
        li.button
          input(type="hidden", id="mail", name="mail", value=mail)
          button(type="submit") Registrar
          button(onclick="window.history.go(-1)") Cancelar
        p Los datos marcados con * son obligatorios.
        p El campo foto debe contener el URL de la misma. 
        if error
          li.error= error  
    script.
      document.addEventListener('DOMContentLoaded', function() {
        function setMaxDate() {
          var today = new Date();
          var year = today.getFullYear();
          var month = String(today.getMonth() + 1).padStart(2, '0');
          var day = String(today.getDate()).padStart(2, '0');
          var todayDate = `${year}-${month}-${day}`;
          var fechaInput = document.getElementById('fechaDeNacimiento');
          fechaInput.setAttribute('max', todayDate);
        }
        setMaxDate();
      });