doctype html
html
  head
    title Lista de Adopciones
    style.
      table {
        border-collapse: collapse;
        width: 50%;
      }
      th, td {
        padding: 15px;
        text-align: left;
      }
      td.buttons {
        display: flex;
        gap: 10px;
      }
  
  body
    if !adopciones.length
      h1 No hay adopciones cargadas en el sistema.
    else
      div
        h1 Lista de Adopciones
        table
          tr
            th Nombre
            th Edad
            th Sexo
            th Color
            th Tamaño
            th Origen
            th Confirmado
            th Mail
          each adopcion in adopciones
            tr
              td= adopcion.nombre
              td= adopcion.edad
              td= adopcion.sexo
              td= adopcion.color
              td= adopcion.tamaño
              td= adopcion.origen
              td= adopcion.confirmado
              td= adopcion.mail
              //chequear, solo el cliente que realizo la publicacion puede darle al boton este
              td.buttons
                if (!(adopcion.confirmado) && (usuarioActual == adopcion.mail))
                  form(action="/clientes/confirmar-adopcion", method="POST")
                    input(type="hidden", name="id", value=adopcion._id)
                    button(type="submit") Confirmar adopcion
                if ((!(usuarioActual == adopcion.mail)) && (adopcion.confirmado !== true))
                  form(action="/usuarios/adopcion/solicitar", method="POST")
                    input(type="hidden", name="mailPostulante", value=adopcion.mail)
                    button(type="submit") Adoptar 
                  
