html
  head
    title Listado de turnos del día
    style.
      table {
        border-collapse: collapse;
        width: 30%;
      }
      th, td {
        padding: 2px;
        text-align: left;
      }
if !turnosDiarios.length
  h1 No tiene turnos cargados todavía.
else
  div
    h1 Turnos de hoy
    table
      tr
        th DNI
        th Perro
        th Rango horario:
        th Motivo
        th Estado 
        th Fecha
      each turno in turnosDiarios
        tr
          td= turno.dni
          td= turno.nombreDelPerro
          td= turno.rangoHorario
          td= turno.motivo
          td= turno.estado
          td= turno.fecha