include mixins/bannerCliente.pug
doctype html
html
  head
    meta(charset="UTF-8")
    title Solicitar turno
    link(rel="stylesheet", href="/style/registro.css")
    script.
      function setMinDate() {
        var today = new Date();
        var year = today.getFullYear();
        var month = String(today.getMonth() + 1).padStart(2, '0');
        var day = String(today.getDate()).padStart(2, '0');
        var todayDate = `${year}-${month}-${day}`;
        var fechaInput = document.getElementById('fecha');
        fechaInput.setAttribute('min', todayDate);
      }
      window.onload = setMinDate;
  +bannerCliente
  body
    form(action="/clientes/solicitar-turno", method="post")
      ul
        li
          label(for="nombreDelPerro") Perro:
          select(name="nombreDelPerro", id="nombreDelPerro", required)
            each perro in perros
              option(value=perro.nombre)= perro.nombre
        li
          label(for="rango") Rango horario:
          select(name="rango", id="rango", required)
            option(value="mañana") Mañana
            option(value="tarde") Tarde
        li
          label(for="fecha") Fecha:
          input(type="date", id="fecha", name="fecha", required)
        li
          label(for="motivo") Motivo:
          select(id="motivo", name="motivo", required)
            option(value="Chequeo general") Chequeo general
            option(value="Vacunacion general") Vacunacion general 
            option(value="Vacunacion antirrabica") Vacunacion antirrabica 
            option(value="Otro") Otro
        li.button
          button(type="submit") Solicitar turno
          button(onclick="window.history.go(-1)") Cancelar

        if error
          li.error= error